

.post {
  padding: 2%;
}
.blog {
  text-align: center;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  background-color: #f1f1f1;
}
.btn-more {
  text-align: center;
  padding: 10px 40px;
  margin-top: 50px;

}

.bl-fix {
  height: 400px;
  max-width: 400px;
}
.bl-fix  img {
width: 400px;
height: 200px;
}
.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
.caption a {
  text-decoration: none;
  color: #000;
  font-style: normal;
  
}
.caption a:hover {
  text-decoration: none;
  color: #F05F40;
}
.caption a h3 {
  font-weight: 700;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.post {
  padding: 2%;
  margin: auto auto;
  text-align: justify;
  background-color: #f1f1f1;
}
.post img {
  width: 920px;
  height: 500px;
  margin-bottom: 30px;
}
.post h2 {
  font-weight: 700;
}